<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-sip" version="1.1.4" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>SIP - LinPhone</name>
  <description>A plugin to integrate linphone features to cordova</description>
  <license>MIT</license>
  <keywords>sip,cordova,phonegap,linphone,liblinphone</keywords>

  <engines>
    <engine name="cordova-android" version=">=4.0.0-dev" />
    <engine name="cordova-ios" version=">=4.0.0-dev" />
    <!-- <engine name="cordova-wp8" version=">=4.0.0-dev" /> -->
  </engines>

  <!-- android -->
  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-feature
          android:name="android.hardware.camera"
          android:required="false" />
      <uses-feature
          android:name="android.hardware.camera.autofocus"
          android:required="false" />
    </config-file>
    <config-file target="config.xml" parent="/*">
      <feature name="Linphone">
        <param name="android-package" value="com.sip.linphone.Linphone" />
      </feature>
    </config-file>

    <source-file src="src/android/src/Linphone.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/src/LinphoneMiniActivity.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/src/LinphoneMiniManager.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/src/LinphoneMiniUtils.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/res/layout/incall.xml" target-dir="res/layout" />
    <source-file src="src/android/res/raw/linphonerc_default" target-dir="res/raw" />
    <source-file src="src/android/res/raw/linphonerc_factory" target-dir="res/raw" />
    <source-file src="src/android/res/raw/lpconfig.xsd" target-dir="res/raw" />
    <source-file src="src/android/res/raw/ringback.wav" target-dir="res/raw" />    
    <source-file src="src/android/res/raw/rootca.pem" target-dir="res/raw" />
    <source-file src="src/android/res/raw/oldphone_mono.wav" target-dir="res/raw" />    
    <source-file src="src/android/res/raw/vcard_grammar" target-dir="res/raw" />

    <source-file src="src/android/libs/linphone.jar" target-dir="libs" />
    
    <source-file src="src/android/libs/arm64-v8a/libbctoolbox.so" target-dir="libs/arm64-v8a" />    
    <source-file src="src/android/libs/arm64-v8a/libc++_shared.so" target-dir="libs/arm64-v8a" />    
    <source-file src="src/android/libs/arm64-v8a/liblinphone.so" target-dir="libs/arm64-v8a" />    
    <source-file src="src/android/libs/arm64-v8a/libmediastreamer.so" target-dir="libs/arm64-v8a" />
    <source-file src="src/android/libs/arm64-v8a/libmediastreamer_base.so" target-dir="libs/arm64-v8a" />
    <source-file src="src/android/libs/arm64-v8a/libmediastreamer_voip.so" target-dir="libs/arm64-v8a" />    
    <source-file src="src/android/libs/arm64-v8a/libmswebrtc.so" target-dir="libs/arm64-v8a" />
    <source-file src="src/android/libs/arm64-v8a/libortp.so" target-dir="libs/arm64-v8a" />


    <source-file src="src/android/libs/armeabi-v7a/libbctoolbox.so" target-dir="libs/armeabi-v7a" />    
    <source-file src="src/android/libs/armeabi-v7a/libc++_shared.so" target-dir="libs/armeabi-v7a" />    
    <source-file src="src/android/libs/armeabi-v7a/liblinphone.so" target-dir="libs/armeabi-v7a" />    
    <source-file src="src/android/libs/armeabi-v7a/libmediastreamer.so" target-dir="libs/armeabi-v7a" />
    <source-file src="src/android/libs/armeabi-v7a/libmediastreamer_base.so" target-dir="libs/armeabi-v7a" />
    <source-file src="src/android/libs/armeabi-v7a/libmediastreamer_voip.so" target-dir="libs/armeabi-v7a" />    
    <source-file src="src/android/libs/armeabi-v7a/libmswebrtc.so" target-dir="libs/armeabi-v7a" />
    <source-file src="src/android/libs/armeabi-v7a/libortp.so" target-dir="libs/armeabi-v7a" />

    

    <source-file src="src/android/libs/x86/libbctoolbox.so" target-dir="libs/x86" />    
    <source-file src="src/android/libs/x86/libc++_shared.so" target-dir="libs/x86" />    
    <source-file src="src/android/libs/x86/liblinphone.so" target-dir="libs/x86" />    
    <source-file src="src/android/libs/x86/libmediastreamer.so" target-dir="libs/x86" />
    <source-file src="src/android/libs/x86/libmediastreamer_base.so" target-dir="libs/x86" />
    <source-file src="src/android/libs/x86/libmediastreamer_voip.so" target-dir="libs/x86" />    
    <source-file src="src/android/libs/x86/libmswebrtc.so" target-dir="libs/x86" />
    <source-file src="src/android/libs/x86/libortp.so" target-dir="libs/x86" />

    <source-file src="src/android/libs/x86_64/libbctoolbox.so" target-dir="libs/x86_64" />    
    <source-file src="src/android/libs/x86_64/libc++_shared.so" target-dir="libs/x86_64" />    
    <source-file src="src/android/libs/x86_64/liblinphone.so" target-dir="libs/x86_64" />    
    <source-file src="src/android/libs/x86_64/libmediastreamer.so" target-dir="libs/x86_64" />    
    <source-file src="src/android/libs/x86_64/libmswebrtc.so" target-dir="libs/x86_64" />
    <source-file src="src/android/libs/x86_64/libortp.so" target-dir="libs/x86_64" />

    <js-module src="www/cordova-plugins-sip.js" name="linphone">
      <merges target="cordova.plugins.sip" />
    </js-module>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
      <uses-permission android:name="android.permission.WAKE_LOCK" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-feature android:name="android.hardware.microphone" android:required="true" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.sip.linphone.LinphoneMiniActivity" android:theme="@android:style/Theme.Black.NoTitleBar" />
    </config-file>
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Linphone">
        <param name="ios-package" value="Linphone"/>
      </feature>
    </config-file>
    <header-file src="src/ios/Linphone.h"/>
    <source-file src="src/ios/Linphone.m"/>

    <header-file src="src/ios/libs/apple-darwin/include/" />


    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/mediastreamer/plugins/libmsamr.a" target-dir="lib/mediastreamer/plugins" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/mediastreamer/plugins/libmsbcg729.a" target-dir="lib/mediastreamer/plugins" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/mediastreamer/plugins/libmsopenh264.a" target-dir="lib/mediastreamer/plugins" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/mediastreamer/plugins/libmssilk.a" target-dir="lib/mediastreamer/plugins" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/mediastreamer/plugins/libmswebrtc.a" target-dir="lib/mediastreamer/plugins" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/mediastreamer/plugins/libmsx264.a" target-dir="lib/mediastreamer/plugins" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libantlr3c.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libavcodec.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libavutil.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libbcg729.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libbctoolbox.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libbellesip.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libbzrtp.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libcorec.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libcunit.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libebml2.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libgsm.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/liblinphone.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/liblinphonetester.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libmatroska2.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libmediastreamer_base.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libmediastreamer_voip.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libopencore-amrnb.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libopencore-amrwb.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libopenh264.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libopus.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libortp.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libpolarssl.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libspeex.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libspeexdsp.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libsrtp.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libswresample.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libswscale.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libtunnel.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libvo-amrwbenc.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libvpx.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/apple-darwin/lib/libx264.a" target-dir="lib" />

    <source-file src="src/ios/libs/apple-darwin/share/" />


    <framework src="AVFoundation.framework" />
    <framework src="AudioToolbox.framework" />
    <framework src="CoreFoundation.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="CoreData.framework" />
    <framework src="CoreAudio.framework" />
    <framework src="libz.tbd" />
    <framework src="libsqlite3.tbd" />
    <framework src="libresolv.tbd" />
    <framework src="libxml2.tbd" />
    <framework src="libstdc++.6.0.9.tbd" />
    <framework src="libstdc++.6.tbd" />
    <framework src="libstdc++.tbd" />
    <framework src="libc++abi.tbd" />

    <js-module src="www/cordova-plugins-sip.js" name="linphone">
      <merges target="cordova.plugins.sip" />
    </js-module>


  </platform>

  <!-- wp8 -->
  <platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="Linphone">
        <param name="wp-package" value="Linphone"/>
      </feature>
    </config-file>

    <source-file src="src/wp/Linphone.cs" />
  </platform>
</plugin>
